<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="timo.home.activityMonitor">

	<uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:label="@string/app_name"
    					android:icon="@drawable/ic_launcher" >
        <activity android:name=".ActivityReminder"
        				android:icon="@drawable/ic_launcher"
        				android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Black.NoTitleBar"><!--Force maintaining portrait orientation -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Declare the service here. Relative to package?-->
        <service android:name=".imuCaptureService.ImuCaptureService" />
        <!--Declare the activity for activity history visualisation-->
        <activity android:name=".HistoryVisualiser"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Black.NoTitleBar"><!--Force maintaining portrait orientation -->
        </activity>
        <!--Declare the activity for file picking android:label="Pick files to visualise"-->
        <activity android:name=".FileSelectorList"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                  ><!--Force maintaining portrait orientation -->
        </activity>
    </application>
</manifest> 
